#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 200px;

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    td {
        border: 1px solid #ddd;
        padding: 8px;

        .edit-delete {
            display: flex;
            justify-content: center;

            .btn-edit {
                width: 50px;
                outline: none;
                border: none;
                border-radius: 10px;
                background-color: rgb(196, 196, 61) !important;

                &:hover {
                    background-color: rgb(221, 221, 49) !important;
                }
            }

            .btn-delete {
                width: 50px;
                outline: none;
                border: none;
                border-radius: 10px;
                margin-left: 10px;
                background-color: rgb(194, 61, 61) !important;

                &:hover {
                    background-color: rgb(236, 101, 101) !important;
                }
            }
        }

        .btn-nop {
            width: 100px;
            outline: none;
            border: none;
            border-radius: 10px;
            background-color: rgb(61, 196, 160) !important;
            color: #ffffff;
        }

        .btn-chuanop {
            width: 100px;
            outline: none;
            border: none;
            border-radius: 10px;
            background-color: rgb(196, 61, 61) !important;
            color: #ffffff;
        }
    }

    th {
        border: 1px solid #ddd;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
}

.modal-user-container {
    .modal-header {
        button {
            background-color: transparent;
            border: none;
            font-size: 30px;
            color: #ddd;
        }
    }

    .form-row {
        width: 100%;
        display: flex;
        gap: 10px;

        .form-group {
            margin-bottom: 15px;

            input,
            select {
                height: 38px;
            }

            &.width-50 {
                width: 50%;
            }

            &.width-25 {
                width: 25%;
            }

        }

    }

}